@model TrendyolApiModel


@{
    Layout = "_ConfigureModule";
}

@await Component.InvokeAsync("StoreScope")
<tabstrip id="trendyol" sm-nav-style="Material" sm-onajaxsuccess="trendyolTab_onAjaxSuccess" sm-nav-position="Left">
    <tab sm-title="@T("Plugins.Smartstore.Trendyol.PageTitle.Configure")"
         sm-selected="true"
         sm-icon="bi:gear"
         sm-name="Trendyol Api Config">
        <partial name="_CreateOrUpdate.Configure" model="Model" />
    </tab>
    @if (Model.ServiceStatus)
    {
        <tab sm-title="@T("Plugins.Smartstore.Trendyol.PageTitle.Products")"
             sm-icon="bi:box"
             sm-ajax="true"
             sm-name="Products"
             sm-adaptive-height="true">
            <div>Ürünler</div>
        </tab>
    }
</tabstrip>

<script sm-target-zone="Scripts" data-origin="trendyol">
    function trendyolTab_onAjaxSuccess(tab, pane) {
        applyCommonPlugins(pane);
        reinitFormValidator("#trendyol");
    }
</script>